html {
	height: 100%; 
	max-height: 100%;  
	padding: 0; 
	margin: 0; 
	border: 0; 
	font-size: 14px; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ccc; 
	overflow: hidden; 
}
body {
	height: 100%; 
	max-height: 100%; 
	overflow: hidden; 
	padding: 0; 
	margin: 0; 
	border: 0;
}
img {
	border: none;
}

#table1 {
	background-color: #006;
	width: 100%;
	height: 150px;
	font-size: 24px;
	color: #ccf;
	text-align: center;
	border: outset 3px #bbf;
	padding-top: 10px 0 0 0;
	margin: 0;
}
#login {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 400px;
	margin-top: -75px;
	margin-left: -200px;
	background-color: #CCF;
}
#seite {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 450px;
	width: 600px;
	margin-top: -225px;
	margin-left: -300px;
	background-color: #CCF;
}
#navi {
	width: 158px;
	height: 378px;
	background-color: #71b39f;
	display: block;
	margin: 0;
	padding: 8px;
	float: left;
	border: outset 3px #bbf;
	list-style-type: none;
}
#ueber {
	background-color: #71b39f;
	width: 592px;
	height: 30px;
	font-size: 24px;
	color: #000;
	text-align: center;
	border: outset 4px #bbf;
	padding: 12px 0 0 0;
	margin: 0;
}
#f_trigger_b, #f_trigger_c {
	padding: 0;
	margin: 0;
	width: 15px;
}
#datum {
	text-align: center;
	
}
#date_selector {
	width: 100%;
}

#blabutton {
	width: 100%;
	margin: 10px 0 0 0;
}
#traf {
	position: absolute;
	width: 398px;
	height: 378px;
	background-color: #71b39f;
	left: 180px;
	display: block;
	margin: 0;
	padding: 8px;
	float: right;
	border: outset 3px #bbf;
	list-style-type: none;
}
#checks {
	text-align: left;
}
#meitab {
	width: 100%;
	border: 2px solid;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 110%;
}
#meicell {
	border: 1px solid;
	text-align: center;
}

/*thead {
	text-align: center;
	vertical-align: middle;
}
td, th {
	border-collapse: collapse;
	border: 1px solid;
}
*/



	
