html {

	font-size: 14px; 
	font-family: DejaVu Sans, Arial, Helvetica, sans-serif;
	background-color: #C0C0C0; 
	overflow: hidden; 
}

button:hover {
	background-color: #CCCCCC;
}
button {
	padding: 0;
	border: 2px outset;
}
input[type=text] {
	border: 2px outset;
	text-align: center;
}
input[type=radio] {
	display: none;
}
input[type=radio] + label span {
    display:inline-block;
    width:10px;
    height:10px;
    background-color: #EEEEEE;
	border: 3px inline;
	vertical-align: middle;
	margin: 3px;
	border-radius: 5px;
	border: 5px inset #71b39f;
	padding: -7px;
}
input[type=radio]:checked + label span {
	background-color: #222222;
}
label {
    font-size: 12px;
}
#index {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 450px;
	width: 600px;
	margin-top: -225px;
	margin-left: -300px;
	background-color: #CCF;
}
#navi {
	width: 158px;
	height: 378px;
	background-color: #71b39f;
	display: block;
	margin: 0;
    padding: 8px;
	float: left;
	border: outset 3px #bbf;

}
#ueber {
	background-color: #71b39f;
	width: 576px;
	height: 30px;
	font-size: 24px;
	color: #000;
	text-align: center;
	border: outset 4px #bbf;
	margin: 0;
    padding: 8px;
}
#traf {
	position: absolute;
	width: 390px;
	height: 370px;
	background-color: #71b39f;
	left: 180px;
	display: block;
	margin: 0;
    	padding: 12px;
	float: right;
	border: outset 3px #bbf;
	list-style-type: none;
}

#table1 {
	background-color: #006;
	width: 100%;
	height: 150px;
	font-size: 24px;
	color: #ccf;
	text-align: center;
	border: outset 3px #bbf;
	padding-top: 10px 0 0 0;
	margin: 0;
}
table {
	width: 100%;
	border: 2px solid;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 110%;
}
td {
	border: 1px solid;
	text-align: center;
}



	
